# Preamble

In [1]:
print('foo')

foo

### Imports

In [18]:
import sys
import os
import pandas as pd
import urllib.request
from tabula import read_pdf
from tabula import convert_into

%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0, 10.0)

### Fetching Data

In [8]:
# Variables 
url = "https://vancouver.ca/files/cov/Bike-lane-stats-by-month.pdf"
data_path = "data"
file_name = "Bike-lane-stats-by-month.pdf"   

# Path
if not os.path.exists(data_path):
    os.makedirs(data_path)
path = os.path.join(data_path, file_name)

# Download 
print("### Downloading " + url + " and saving at " + path)
urllib.request.urlretrieve(url, path)

### Downloading https://vancouver.ca/files/cov/Bike-lane-stats-by-month.pdf and saving at data/Bike-lane-stats-by-month.pdf

('data/Bike-lane-stats-by-month.pdf', <http.client.HTTPMessage at 0x11c005978>)

### Transforming  Data

In [24]:
# Read pdf into DataFrame
df = read_pdf("data/Bike-lane-stats-by-month.pdf", pages="all")

# Convert to CSV
# convert_into("data/Bike-lane-stats-by-month.pdf", "data/Bike-lane-stats-by-month.csv", output_format="csv")

In [23]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Mid-Week Daily Bicycle Trips,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,Total Monthly Bike Trips,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Average of all Tuesdays, Wednesdays, Thursday...",NaN,NaN,NaN
2,NaN,Burrard Bridge,Hornby Street,Dunsmuir Street,Dunsmuir Viaduct,Canada Line Union and Hawks,Lions Gate,Science World,10th and Clark,Point Grey Road,Burrard Bridge,Hornby Street,Dunsmuir Street,Dunsmuir Viaduct Canada Line Union and Hawks L...,Science World,10th and Clark,Point Grey Road
3,9-Aug,"130,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9-Sep,"107,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9-Oct,"70,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9-Nov,"43,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9-Dec,"34,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10-Jan,"46,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10-Feb,"71,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10-Mar,"68,000",NaN,NaN,"14,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,NaN,NaN,NaN
11,10-Apr,"77,000",NaN,NaN,"15,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,NaN,NaN,NaN
12,10-May,"103,000",NaN,NaN,"20,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800,NaN,NaN,NaN
13,10-Jun,"117,000",NaN,NaN,"34,000",NaN,NaN,NaN,NaN,NaN,"4,200",NaN,NaN,"1,600",NaN,NaN,NaN
14,10-Jul,"162,000",NaN,"46,000","43,000",NaN,NaN,NaN,NaN,NaN,"6,000",NaN,"1,900","1,800",NaN,NaN,NaN
15,10-Aug,"139,000",NaN,"48,000","44,000",NaN,NaN,NaN,NaN,NaN,"5,000",NaN,"1,900","1,800",NaN,NaN,NaN
16,10-Sep,"100,000",NaN,"37,000","39,000",NaN,NaN,NaN,NaN,NaN,"4,000",NaN,"1,600","1,700",NaN,NaN,NaN
17,10-Oct,"80,000",NaN,"35,000","35,000",NaN,NaN,NaN,NaN,NaN,"3,000",NaN,"1,400","1,500",NaN,NaN,NaN
18,10-Nov,"45,000",NaN,"24,000","25,000",NaN,NaN,NaN,NaN,NaN,"1,800",NaN,"1,000","1,000",NaN,NaN,NaN
19,10-Dec,"36,000",NaN,"21,000","20,000",NaN,NaN,NaN,NaN,NaN,"1,300",NaN,800,800,NaN,NaN,NaN
20,11-Jan,"41,000","14,000","23,000","21,000",NaN,NaN,NaN,NaN,NaN,"1,500",700,900,900,NaN,NaN,NaN
21,11-Feb,"42,000","19,000","24,000","22,000",NaN,NaN,NaN,NaN,NaN,"1,800",900,"1,100","1,000",NaN,NaN,NaN
22,11-Mar,"55,000","23,000","30,000","28,000",NaN,NaN,NaN,NaN,NaN,"1,900",900,"1,100","1,100",NaN,NaN,NaN
23,11-Apr,"74,000","27,000","35,000","32,000",NaN,NaN,NaN,NaN,NaN,"2,500","1,200","1,500","1,300",NaN,NaN,NaN
24,11-May,"98,000","34,000","43,000","38,000",NaN,NaN,NaN,NaN,NaN,"3,500","1,400","1,700","1,500",NaN,NaN,NaN
25,11-Jun,"129,000","45,000","58,000","50,000",NaN,NaN,NaN,NaN,NaN,"4,300","1,700","2,200","1,900",NaN,NaN,NaN
26,11-Jul,"153,000","48,000","60,000","52,000",NaN,NaN,NaN,NaN,NaN,"4,800","1,800","2,300","2,000",NaN,NaN,NaN
27,11-Aug,"165,000","54,000","68,000","57,000",NaN,NaN,NaN,NaN,NaN,"5,600","2,100","2,600","2,200",NaN,NaN,NaN
28,11-Sep,"122,000","45,000","59,000","44,000",NaN,NaN,NaN,NaN,NaN,"4,200","1,800","2,400","1,800",NaN,NaN,NaN
29,11-Oct,"79,000","34,000","44,000","37,000",NaN,NaN,NaN,NaN,NaN,"2,800","1,400","1,800","1,600",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,16-Feb,"62,000","28,000",*,"35,000","11,000 50,000","22,000","63,000","33,000","22,000","2,600","1,300",*,"1,600 400 2,200 900","2,600","1,400",800
82,16-Mar,"78,000","32,000",*,"40,000","13,000 59,000","28,000","83,000","39,000","32,000","2,900","1,300",*,"1,700 400 2,300 1,000","3,000","1,500","1,000"
83,16-Apr,"132,000","49,000","54,000","60,000","22,000 94,000","51,000","144,000","65,000","59,000","4,700","2,000","2,200","2,500 700 3,500 1,700","4,800","2,400","1,700"
84,16-May,"149,000","58,000","61,000","70,000","27,000 107,000","61,000","163,000","72,000","70,000","5,300","2,300","2,500","2,900 900 4,000 2,100","5,400","2,700","2,100"
85,16-Jun,"151,000","60,000","59,000","69,000","26,000 102,000","59,000","161,000","69,000","71,000","5,400","2,300","2,400","2,800 800 3,800 2,000","5,500","2,500","2,100"
86,16-Jul,"177,000","64,000","56,000","68,000","26,000 111,000","64,000","193,000","66,000","92,000","6,100","2,700","2,300","2,900 800 4,200 2,200","6,500","2,500","2,700"
87,16-Aug,"182,000","75,000","69,000","75,000","26,000 113,000","66,000","204,000","67,000","91,000","6,100","2,800","2,700","2,900 800 3,900 2,100","6,800","2,400","2,700"
88,16-Sep,"133,000","63,000","58,000","64,000","20,000 94,000","48,000","145,000","59,000","52,000","5,300","2,700","2,500","2,800 700 3,900 1,900","5,500","2,500","1,800"
89,16-Oct,"78,000","39,000","41,000","44,000","12,000 63,000","28,000","82,000","39,000","24,000","3,100","1,700","1,800","2,000 400 2,600 1,100","3,200","1,600",800
90,16-Nov,"65,000","34,000","38,000","41,000","10,000 56,000","23,000","67,000","35,000","17,000","2,500","1,400","1,600","1,700 400 2,200 900","2,500","1,400",600
91,16-Dec,"25,000","15,000",*,"14,000","3,000 18,000","6,000","22,000","10,000","5,000","1,100",700,*,600 100 800 300,900,400,200
92,17-Jan,"40,000","22,000",*,"24,000","5,000 30,000","14,000","39,000","17,000","10,000","1,400",900,*,"1,000 200 1,100 500","1,400",600,300
93,17-Feb,"41,000","21,000",*,"24,000","6,000 34,000","14,000","44,000","19,000","11,000","1,700","1,000",*,"1,200 200 1,500 600","1,800",800,400
94,17-Mar,"55,000","27,000","30,000","32,000","8,000 43,000","18,000","58,000","26,000","15,000","1,900","1,000","1,200","1,200 200 1,600 600","1,900",900,400
95,17-Apr,"84,000","35,000","37,000","40,000","15,000 61,000","33,000","92,000","39,000","27,000","3,000","1,500","1,600","1,800 400 2,400 1,100","3,000","1,500",700
96,17-May,"139,000","55,000","54,000","59,000","23,000 94,000","53,000","156,000","58,000","58,000","4,400","2,000","2,100","2,300 700 3,300 1,600","4,700","2,000","1,400"
97,17-Jun,"157,000","67,000","63,000","68,000","26,000 108,000","61,000","181,000","65,000","69,000","5,300","2,500","2,400","2,700 800 3,900 2,000","6,000","2,300","2,100"
98,17-Jul,"187,000","80,000","65,000","73,000","29,000 120,000","71,000","227,000","70,000","99,000","6,500","3,200","2,700","3,100 900 4,500 2,400","7,700","2,600","3,000"
99,17-Aug,"190,000","78,000","66,000","72,000","26,000 115,000","63,000",*,"65,000","84,000","6,700","3,000","2,700","2,900 800 4,200 2,100",*,"2,400","2,700"
100,17-Sep,"140,000","59,000","56,000","61,000","19,000 91,000","47,000",*,"57,000","56,000","5,400","2,500","2,500","2,700 700 3,700 1,800",*,"2,400","1,800"
101,17-Oct,"91,000","45,000","47,000","51,000","15,000 71,000","35,000","106,000","45,000","34,000","3,300","1,800","1,900","2,100 500 2,700 1,200","3,700","1,700","1,000"
102,17-Nov,"56,000","29,000","34,000","36,000","8,000 49,000","19,000","60,000","29,000","16,000","2,200","1,200","1,400","1,500 300 2,000 700","2,300","1,100",500
103,17-Dec,"40,000","21,000","25,000","25,000","6,000 34,000","15,000","44,000","20,000","12,000","1,500",800,"1,000","1,100 200 1,300 600","1,700",800,400
104,18-Jan,"47,000","24,000","29,000","30,000","7,000 39,000","18,000","48,000","23,000","13,000","1,800","1,000","1,200","1,300 200 1,600 600","1,900",900,500
105,18-Feb,"43,000","21,000","25,000","26,000","6,000 34,000","13,000","44,000","19,000","13,000","1,800","1,000","1,100","1,200 200 1,500 500","1,700",800,400
106,18-Mar,"78,000","33,000","37,000","39,000","12,000 57,000","27,000","85,000","33,000","30,000","2,500","1,200","1,500","1,500 500 2,000 800","2,600","1,200",800
107,18-Apr,"93,000","37,000","41,000","46,000","15,000 69,000","34,000","103,000","42,000","38,000","3,700","1,600","1,800","2,100 500 3,200 1,300","4,000","1,700","1,100"
108,18-May,"181,000","67,000","58,000","76,000","27,000 124,000","67,000","202,000","73,000","83,000","6,100","2,500","2,300","3,100 900 4,100 2,200","6,500","2,700","1,900"
109,18-Jun,"161,000","61,000","61,000","68,000","24,000 109,000","57,000","173,000","65,000","70,000","6,100","2,600","2,600","3,000 800 3,900 2,100","6,200","2,500","2,200"
110,18-Jul,"216,000","75,000","68,000","75,000","27,000 127,000","72,000","239,000","71,000","111,000","7,600","3,000","2,800","3,100 900 4,200 2,500","8,200","2,700","3,200"